In [93]:
import pandas as pd
import numpy as np

In [94]:
data = pd.read_csv('results.csv').dropna()
data

              N Input_type  Sort SortingAlgo Platform  RunningTime
0           8.0        RND  sort        oets      seq         0.00
1           8.0        RND  sort        oets     cuda         0.05
2           8.0        RND  sort        otWM     cuda         0.00
3           8.0        RND  sort        oets      MPI         0.00
5           8.0        RND  sort        btns      seq         0.00
..          ...        ...   ...         ...      ...          ...
103  33554432.0        RND  sort        btns      MPI         0.68
105  33554432.0         RS  sort        btns      seq        30.86
106  33554432.0         RS  sort        btns     cuda         1.55
107  33554432.0         RS  sort        btWM     cuda         1.46
108  33554432.0         RS  sort        btns      MPI         0.63

[88 rows x 6 columns]

In [95]:
data.N.unique()

array([8.0000000e+00, 1.6000000e+01, 1.0240000e+03, 3.2768000e+04,
       1.0485760e+06, 3.3554432e+07])

In [96]:


df_new = data

In [104]:
df_new.columns = df_new.columns.str.replace(' ', '')
df.columns = df.columns.str.lstrip()

df_new

             N Input_type  Sort SortingAlgo Platform  RunningTime
0          8.0        RND  sort        oets      seq         0.00
1          8.0        RND  sort        oets     cuda         0.00
2          8.0        RND  sort        oets      MPI         0.00
3          8.0        RND  sort        btns      seq         0.00
4          8.0        RND  sort        btns     cuda         0.00
..         ...        ...   ...         ...      ...          ...
61  33554432.0        RND  sort        btns     cuda         1.53
62  33554432.0        RND  sort        btns      MPI         0.68
63  33554432.0         RS  sort        btns      seq        30.86
64  33554432.0         RS  sort        btns     cuda         1.46
65  33554432.0         RS  sort        btns      MPI         0.63

[66 rows x 6 columns]

In [126]:
df_results =pd.DataFrame(columns=["N","Input_type","SortingAlgo","seq","cuda","MPI","Speedup(cuda/seq)"])

In [127]:
df_results

Empty DataFrame
Columns: [N, Input_type, SortingAlgo, seq, cuda, MPI, Speedup(cuda/seq)]
Index: []

In [128]:
seq = 0
cuda = 0
mpi = 0
speedup = 1

for index, row in df_new.iterrows():
    if (row['Platform']=='seq') :
        seq = row['RunningTime']
    if (row['Platform']=='cuda') :
        cuda = row['RunningTime']
    if (row['Platform']=='MPI') :
        mpi = row['RunningTime']
        if(cuda!=0):
            speedup = seq/cuda
            speedup = float("{:.2f}".format(speedup))
        else :
            speedup = "-"
        #data = { 'uk':'united kingdom','fr':'france' }
        row_data = {'N' : row['N'],'Input_type' : row['Input_type'], 'SortingAlgo' : row['SortingAlgo'], 'seq' : seq, 'cuda' : cuda, 'MPI' : mpi, 'Speedup(cuda/seq)' : speedup}
        df_results = df_results.append(row_data,ignore_index=True)

In [129]:
#df_results.style.format({'Speedup(cuda/seq)': '{:.3f}'})
df_results

             N Input_type SortingAlgo      seq    cuda   MPI Speedup(cuda/seq)
0          8.0        RND        oets     0.00    0.00  0.00                 -
1          8.0        RND        btns     0.00    0.00  0.00                 -
2          8.0         RS        oets     0.00    0.00  0.00                 -
3          8.0         RS        btns     0.00    0.00  0.00                 -
4         16.0        RND        oets     0.00    0.00  0.00                 -
5         16.0        RND        btns     0.00    0.00  0.00                 -
6         16.0         RS        oets     0.00    0.00  0.00                 -
7         16.0         RS        btns     0.00    0.00  0.00                 -
8       1024.0        RND        oets     0.00    0.00  0.00                 -
9       1024.0        RND        btns     0.00    0.00  0.00                 -
10      1024.0         RS        oets     0.00    0.00  0.00                 -
11      1024.0         RS        btns     0.00    0.00  0.00                 -
12     32768.0        RND        oets     1.90    0.13  0.00             14.62
13     32768.0        RND        btns     0.03    0.00  0.00                 -
14     32768.0         RS        oets     1.66    0.14  0.00             11.86
15     32768.0         RS        btns     0.01    0.00  0.00                 -
16   1048576.0        RND        oets  1991.01  155.20  0.01             12.83
17   1048576.0        RND        btns     0.74    0.03  0.01             24.67
18   1048576.0         RS        oets  1689.05  180.67  0.01              9.35
19   1048576.0         RS        btns     0.59    0.04  0.01             14.75
20  33554432.0        RND        btns    36.48    1.53  0.68             23.84
21  33554432.0         RS        btns    30.86    1.46  0.63             21.14

In [130]:
df_results.to_csv('results_updated.csv')